.hints {
  display: none;
}

[data-value="0"] {
  .hints {
    display: grid;
    font-size: .3em;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
    .hidden {
      visibility: hidden;
    }
  }
}
