[data-current-col="0"][data-current-row="0"]>.cell[data-col="0"][data-row="0"],
[data-current-col="1"][data-current-row="0"]>.cell[data-col="1"][data-row="0"],
[data-current-col="2"][data-current-row="0"]>.cell[data-col="2"][data-row="0"],
[data-current-col="3"][data-current-row="0"]>.cell[data-col="3"][data-row="0"],
[data-current-col="4"][data-current-row="0"]>.cell[data-col="4"][data-row="0"],
[data-current-col="5"][data-current-row="0"]>.cell[data-col="5"][data-row="0"],
[data-current-col="6"][data-current-row="0"]>.cell[data-col="6"][data-row="0"],
[data-current-col="7"][data-current-row="0"]>.cell[data-col="7"][data-row="0"],
[data-current-col="8"][data-current-row="0"]>.cell[data-col="8"][data-row="0"],
[data-current-col="0"][data-current-row="1"]>.cell[data-col="0"][data-row="1"],
[data-current-col="1"][data-current-row="1"]>.cell[data-col="1"][data-row="1"],
[data-current-col="2"][data-current-row="1"]>.cell[data-col="2"][data-row="1"],
[data-current-col="3"][data-current-row="1"]>.cell[data-col="3"][data-row="1"],
[data-current-col="4"][data-current-row="1"]>.cell[data-col="4"][data-row="1"],
[data-current-col="5"][data-current-row="1"]>.cell[data-col="5"][data-row="1"],
[data-current-col="6"][data-current-row="1"]>.cell[data-col="6"][data-row="1"],
[data-current-col="7"][data-current-row="1"]>.cell[data-col="7"][data-row="1"],
[data-current-col="8"][data-current-row="1"]>.cell[data-col="8"][data-row="1"],
[data-current-col="0"][data-current-row="2"]>.cell[data-col="0"][data-row="2"],
[data-current-col="1"][data-current-row="2"]>.cell[data-col="1"][data-row="2"],
[data-current-col="2"][data-current-row="2"]>.cell[data-col="2"][data-row="2"],
[data-current-col="3"][data-current-row="2"]>.cell[data-col="3"][data-row="2"],
[data-current-col="4"][data-current-row="2"]>.cell[data-col="4"][data-row="2"],
[data-current-col="5"][data-current-row="2"]>.cell[data-col="5"][data-row="2"],
[data-current-col="6"][data-current-row="2"]>.cell[data-col="6"][data-row="2"],
[data-current-col="7"][data-current-row="2"]>.cell[data-col="7"][data-row="2"],
[data-current-col="8"][data-current-row="2"]>.cell[data-col="8"][data-row="2"],
[data-current-col="0"][data-current-row="3"]>.cell[data-col="0"][data-row="3"],
[data-current-col="1"][data-current-row="3"]>.cell[data-col="1"][data-row="3"],
[data-current-col="2"][data-current-row="3"]>.cell[data-col="2"][data-row="3"],
[data-current-col="3"][data-current-row="3"]>.cell[data-col="3"][data-row="3"],
[data-current-col="4"][data-current-row="3"]>.cell[data-col="4"][data-row="3"],
[data-current-col="5"][data-current-row="3"]>.cell[data-col="5"][data-row="3"],
[data-current-col="6"][data-current-row="3"]>.cell[data-col="6"][data-row="3"],
[data-current-col="7"][data-current-row="3"]>.cell[data-col="7"][data-row="3"],
[data-current-col="8"][data-current-row="3"]>.cell[data-col="8"][data-row="3"],
[data-current-col="0"][data-current-row="4"]>.cell[data-col="0"][data-row="4"],
[data-current-col="1"][data-current-row="4"]>.cell[data-col="1"][data-row="4"],
[data-current-col="2"][data-current-row="4"]>.cell[data-col="2"][data-row="4"],
[data-current-col="3"][data-current-row="4"]>.cell[data-col="3"][data-row="4"],
[data-current-col="4"][data-current-row="4"]>.cell[data-col="4"][data-row="4"],
[data-current-col="5"][data-current-row="4"]>.cell[data-col="5"][data-row="4"],
[data-current-col="6"][data-current-row="4"]>.cell[data-col="6"][data-row="4"],
[data-current-col="7"][data-current-row="4"]>.cell[data-col="7"][data-row="4"],
[data-current-col="8"][data-current-row="4"]>.cell[data-col="8"][data-row="4"],
[data-current-col="0"][data-current-row="5"]>.cell[data-col="0"][data-row="5"],
[data-current-col="1"][data-current-row="5"]>.cell[data-col="1"][data-row="5"],
[data-current-col="2"][data-current-row="5"]>.cell[data-col="2"][data-row="5"],
[data-current-col="3"][data-current-row="5"]>.cell[data-col="3"][data-row="5"],
[data-current-col="4"][data-current-row="5"]>.cell[data-col="4"][data-row="5"],
[data-current-col="5"][data-current-row="5"]>.cell[data-col="5"][data-row="5"],
[data-current-col="6"][data-current-row="5"]>.cell[data-col="6"][data-row="5"],
[data-current-col="7"][data-current-row="5"]>.cell[data-col="7"][data-row="5"],
[data-current-col="8"][data-current-row="5"]>.cell[data-col="8"][data-row="5"],
[data-current-col="0"][data-current-row="6"]>.cell[data-col="0"][data-row="6"],
[data-current-col="1"][data-current-row="6"]>.cell[data-col="1"][data-row="6"],
[data-current-col="2"][data-current-row="6"]>.cell[data-col="2"][data-row="6"],
[data-current-col="3"][data-current-row="6"]>.cell[data-col="3"][data-row="6"],
[data-current-col="4"][data-current-row="6"]>.cell[data-col="4"][data-row="6"],
[data-current-col="5"][data-current-row="6"]>.cell[data-col="5"][data-row="6"],
[data-current-col="6"][data-current-row="6"]>.cell[data-col="6"][data-row="6"],
[data-current-col="7"][data-current-row="6"]>.cell[data-col="7"][data-row="6"],
[data-current-col="8"][data-current-row="6"]>.cell[data-col="8"][data-row="6"],
[data-current-col="0"][data-current-row="7"]>.cell[data-col="0"][data-row="7"],
[data-current-col="1"][data-current-row="7"]>.cell[data-col="1"][data-row="7"],
[data-current-col="2"][data-current-row="7"]>.cell[data-col="2"][data-row="7"],
[data-current-col="3"][data-current-row="7"]>.cell[data-col="3"][data-row="7"],
[data-current-col="4"][data-current-row="7"]>.cell[data-col="4"][data-row="7"],
[data-current-col="5"][data-current-row="7"]>.cell[data-col="5"][data-row="7"],
[data-current-col="6"][data-current-row="7"]>.cell[data-col="6"][data-row="7"],
[data-current-col="7"][data-current-row="7"]>.cell[data-col="7"][data-row="7"],
[data-current-col="8"][data-current-row="7"]>.cell[data-col="8"][data-row="7"],
[data-current-col="0"][data-current-row="8"]>.cell[data-col="0"][data-row="8"],
[data-current-col="1"][data-current-row="8"]>.cell[data-col="1"][data-row="8"],
[data-current-col="2"][data-current-row="8"]>.cell[data-col="2"][data-row="8"],
[data-current-col="3"][data-current-row="8"]>.cell[data-col="3"][data-row="8"],
[data-current-col="4"][data-current-row="8"]>.cell[data-col="4"][data-row="8"],
[data-current-col="5"][data-current-row="8"]>.cell[data-col="5"][data-row="8"],
[data-current-col="6"][data-current-row="8"]>.cell[data-col="6"][data-row="8"],
[data-current-col="7"][data-current-row="8"]>.cell[data-col="7"][data-row="8"],
[data-current-col="8"][data-current-row="8"]>.cell[data-col="8"][data-row="8"] {
  background-color: rgb(var(--current-cell-bg));
}

[data-current-col="0"]>.cell[data-col="0"],
[data-current-col="1"]>.cell[data-col="1"],
[data-current-col="2"]>.cell[data-col="2"],
[data-current-col="3"]>.cell[data-col="3"],
[data-current-col="4"]>.cell[data-col="4"],
[data-current-col="5"]>.cell[data-col="5"],
[data-current-col="6"]>.cell[data-col="6"],
[data-current-col="7"]>.cell[data-col="7"],
[data-current-col="8"]>.cell[data-col="8"],
[data-current-row="0"]>.cell[data-row="0"],
[data-current-row="1"]>.cell[data-row="1"],
[data-current-row="2"]>.cell[data-row="2"],
[data-current-row="3"]>.cell[data-row="3"],
[data-current-row="4"]>.cell[data-row="4"],
[data-current-row="5"]>.cell[data-row="5"],
[data-current-row="6"]>.cell[data-row="6"],
[data-current-row="7"]>.cell[data-row="7"],
[data-current-row="8"]>.cell[data-row="8"],
[data-current-box="0"]>.cell[data-box="0"],
[data-current-box="1"]>.cell[data-box="1"],
[data-current-box="2"]>.cell[data-box="2"],
[data-current-box="3"]>.cell[data-box="3"],
[data-current-box="4"]>.cell[data-box="4"],
[data-current-box="5"]>.cell[data-box="5"],
[data-current-box="6"]>.cell[data-box="6"],
[data-current-box="7"]>.cell[data-box="7"],
[data-current-box="8"]>.cell[data-box="8"] {
  background-color: rgba(var(--current-cell-bg), 0.4);
}

[data-current-value="1"]>.cell[data-value="1"],
[data-current-value="2"]>.cell[data-value="2"],
[data-current-value="3"]>.cell[data-value="3"],
[data-current-value="4"]>.cell[data-value="4"],
[data-current-value="5"]>.cell[data-value="5"],
[data-current-value="6"]>.cell[data-value="6"],
[data-current-value="7"]>.cell[data-value="7"],
[data-current-value="8"]>.cell[data-value="8"],
[data-current-value="9"]>.cell[data-value="9"],
[data-current-value="1"]>.cell[data-value="0"]:has([class="hint-0 "]),
[data-current-value="2"]>.cell[data-value="0"]:has([class="hint-1 "]),
[data-current-value="3"]>.cell[data-value="0"]:has([class="hint-2 "]),
[data-current-value="4"]>.cell[data-value="0"]:has([class="hint-3 "]),
[data-current-value="5"]>.cell[data-value="0"]:has([class="hint-4 "]),
[data-current-value="6"]>.cell[data-value="0"]:has([class="hint-5 "]),
[data-current-value="7"]>.cell[data-value="0"]:has([class="hint-6 "]),
[data-current-value="8"]>.cell[data-value="0"]:has([class="hint-7 "]),
[data-current-value="9"]>.cell[data-value="0"]:has([class="hint-8 "]) {
  background-color: var(--current-value-bg);
}